{% extends 'base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock title %}
{% block content %}

<!-- Breadcrumb Start -->
<div class="container-fluid">
	<div class="row px-xl-5">
		<div class="col-12">
			<nav class="breadcrumb bg-light mb-30">
				<a class="breadcrumb-item text-dark" href="{% url 'home' %}"><i class="fa fa-home mx-2 pt-1"></i>Home</a>
				<span class="breadcrumb-item text-primary">Account</span>
			</nav>
		</div>
	</div>
</div>
<!-- Breadcrumb End -->

<!--Login form -->
<section class="section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12">
					<div class="wrap d-flex">
						<div class="col-md-6 img" style="background-image: url({%static 'img/bg-1.jpg' %});border-radius:25px 0 0 25px;"></div>

						<div class="col-md-6" style="background: #b7b7b152;border-radius:0 25px 25px 0;">
							<div class="p-4">
								<div class="row d-flex justify-content-center">
									<div class="d-flex justify-content-center">
										<div class="row">
											<h3 class="mb-4">Create a New Password<i class="fa fa-key mx-2"></i></h3>
										</div>
									</div>
									<form action="" method="POST" class="signin-form">
										{% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-12 form-group">
                                                <label class="mb-0">Create New Password<i class="fa fa-key mx-2"></i></label>
												<div class="d-flex">
													<button style="border-radius:20px 0 0 20px;" class="btn border-0" type="button">
													<i onclick="$(this).toggleClass('fa-eye fa-eye-slash')" id="eye_button" class="fa fa-eye"></i>
													</button>
													<input id="password_log" title="create new password" class="form-control mb-0 rounded" name="new_password" type="Password" required>

                                            	</div>
											</div>
                                            <div class="col-md-12 form-group">
                                                <label class="mb-0">Confirm Password<i class="fa fa-key mx-2"></i></label>
												<div class="d-flex">
													<button style="border-radius:20px 0 0 20px;" class="btn border-0" type="button">
													<i onclick="$(this).toggleClass('fa-eye fa-eye-slash')" id="eye_button1" class="fa fa-eye"></i>
													</button>
													<input id="password_log1" title="confirm password" class="form-control mb-0 rounded" name="confirm_password" type="Password" required>
												</div>
											</div>
                                            <div class="col-md-12 form-group py-2">
                                            <button type="submit" class="form-control btn btn-primary rounded submit px-3">Reset Password</button>
                                        </div>
                                        </div>
                                    </form>
		        				</div>
							</div>
						</div>

		      		</div>
				</div>
			</div>
		</div>
	</section>
<!--Login form -->



{% endblock content %}
